{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'chatgpt.css' %}">
{% endblock %}
<form action="chat" method="post" entype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div id="file-module-0">
        <img src="static/img/gpt.png" alt="logo" id="logo">
        <label>Chat GPT</label>
        <textarea id="question" name="question" placeholder="ChatGPT에게 요청하기"></textarea>
    </div>
    <div><button id="text-button" type="submit" >질문</button></div>
</form>

