<!doctype html>
<html>
    <head>
        <title>ChatGPT 수월</title>
        {% load static %}
        <meta charset="utf-8">
        <link rel='stylesheet' type="text/css" href="{% static 'index.css' %}"
    </head>
    <body>
<div></div>


        <div>
            <section class="title_section">
                <h1 class="title_name"><a href="/">수월</a></h1>
            </section>

            <section class="play_button_section">
                <a href="/chatgpt/">
                    <img src="/static/img/gpt.png">
                    <p>ChatGpt 질문</p>
                </a>

                <a href="/signlanguagetochatgpt/">
                    <img src="/static/img/sign.jpg">
                    <p>수월-ChatGPT 사용</p>
                </a>
            </section>

            
        </div>

    
    </body>
