<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="MyView-module__my_login___tOTgr"><p class="MyView-module__login_text___G0Dzv">네이버를 더 안전하고 편리하게 이용하세요</p><a href="https://nid.naver.com/nidlogin.login?mode=form&amp;url=https://www.naver.com/" class="MyView-module__link_login___HpHMW"><i class="MyView-module__naver_logo____Y442"><span class="blind">NAVER</span></i>로그인</a><div class="MyView-module__login_more___Qaa3P"><a href="https://nid.naver.com/user/help.nhn?todo=idinquiry" class="MyView-module__link_more___sbxGh">아이디 찾기</a><a href="https://nid.naver.com/nidreminder.form" class="MyView-module__link_more___sbxGh">비밀번호 찾기</a><a href="https://nid.naver.com/nidregister.form?url=https%3A%2F%2Fwww.naver.com" class="MyView-module__link_more___sbxGh">회원가입</a></div></div>
</body>
</html>